{% extends 'base.html' %}

{% block content %}


	<div class= 'main'>


	<!--albums -->
	<ul>
		{% for album in albums.object_list %}<br>
			<div class ='title'><a href= {% url images.views.album album.pk %}  <h3>{{album.title}} ({{album.image_set.count}} image{{album.image_set.count|pluralize}})</h3>
				 </div>
			<ul>
				{% for img in album.images %}
					<a href="{{media_url}}{{img.image.name}}"><img border = "0" alt= '' src = "{{media_url}}{{img.image.name}}"
						{% if img.width > 200 %} width="200" height="200"{% endif %}/></a>
				{% endfor %}
				
			</ul>
		{% endfor %}
	</ul>

	<!-- Next/Prev page links -->

	{% if albums.object_list and albums.paginator.num_pages > 1 %}
	<div class = 'pagination'>
		<span class= 'step-links'>
			{% if albums.has_previous %}
				<a href = '?page= {{albums.previous_page_number}}'>previous &lt; &lt; </a>
			{% endif %}

			<span class='current'>
				&nbsp;Page {{album.number}} of {{album.paginator.num_pages}}
			</span>

			{% if albums.has_next %}
				<a href='?page = {{albums.next_page_number'>
				&gt; &gt; next </a>
			{% endif %}
		</span>
	</div>
	{% endif %}

</div>

{% endblock %}

