{% extends "base.html" %}

{% block style %}

.content-1{
font-size:26px;
}
.content-2{
font-size:26px;
}
.content-3{
font-size:26px;
}


{% endblock %}


{% block content %}


	<h2 class ="page-header"> My Projects </h2>



				<div class="content-1">
					<p class="span4"> 
								hdbudbnrndnidn
								duenjldnlen
								djdnjlend
								jdnbnfid
								budehoidndi
								nwiondindpoe
								idnioueo
								budebuodbd
					</p>
				</div>

					
				<div class="content-2">
					<p class="span4">

							hdbudbnrndnidn
							duenjldnlen
							djdnjlend
							jdnbnfid
							budehoidndi
							nwiondindpoe
							idnioueo
							budebuodbde
					</p>
				</div>

				<div class="content-3">
					<p class="span4">

							hdbudbnrndnidn
							duenjldnlen
							djdnjlend
							jdnbnfid
							budehoidndi
							nwiondindpoe
							idnioueo
							budebuodbde
					</p>
				</div>
				


{% endblock %}